/*Variables*/
:root {
	/*Primary colors*/
	--pale-blue: hsl(225, 100%, 94%);
	--Bright-blue: hsl(245, 75%, 52%);

	/*Neutral colors*/
	--very-pale-blue: hsl(225, 100%, 98%);
	--desaturated-blue: hsl(224, 23%, 55%);
	--dark-blue: hsl(223, 47%, 23%);

	/*Fonts*/
	--primary-font: 'Red Hat Display', sans-serif;

	--transition: .3s ease-in-out;
}

html {
	box-sizing: border-box;
	font-size: 100%;
}

*, *:before, *:after {
	box-sizing: inherit;
}

html, body {
	padding: 0;
	margin: 0;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;

	font-size: 16px;
	font-weight: 500;
	font-family: var(--primary-font);
	background-image: url('images/pattern-background-mobile.svg');
	background-repeat: no-repeat;
	background-size: contain;
	background-color: var(--pale-blue);
	min-height: 100vh;
}

p {
	color: var(--desaturated-blue);
}

.card-container {
	max-width: 330px;
	background-color: #FFFFFF;
	border-radius: 24px;
	overflow: hidden;
}

.illustration img {
	height: 160px;
	width: 100%;
	object-fit: cover;
}

.illustration + div {
	padding: 25px;
	text-align: center;
}

.card-container .title {
	font-weight: 900;
	margin: 0 0 25px 0;
	font-size: 20px;
}

.illustration + div > p {
	line-height: 1.4;
	margin: 0 0 27px 0;
}

.plan-information {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;

	background-color: var(--very-pale-blue);
    padding: 17px;
    border-radius: 12px;
}

.plan-information .left-part{
	display: flex;
	flex-wrap: wrap;
}

.plan-information .left-part img {
	margin: 0 20px 0 0;
}

.plan-information .left-part h4 {
	margin: 0 0 10px 0;
}

.plan-information .left-part p {
	margin: 0;
}

.plan-information a {
	color: var(--Bright-blue);
    font-weight: 700;
    transition: var(--transition);
}

.plan-information a:hover {
	color: var(--desaturated-blue);
	text-decoration: none;
}

.payment button {
    font-family: var(--primary-font);
    background-color: var(--Bright-blue);
    border: 0;
	width: 100%;
    color: #FFF;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 700;
    margin: 24px 0 28px 0;
    transition: var(--transition);
    box-shadow: 0 20px 30px -8px rgb(197 189 245);
}

.payment button:hover,
.payment button:focus {
	opacity: 0.8;
}

.payment + a {
	font-weight: 900;
    color: var(--desaturated-blue);
    text-decoration: none;
    transition: var(--transition);
}

.payment + a:hover {
	color: var(--dark-blue);
}

@media only screen and (min-width: 1099px) {
	body {
		background-image: url('images/pattern-background-desktop.svg');
	}

	.illustration img {
	    height: 220px;
	}

	.illustration + div {
	    padding: 50px;
	}

	.card-container {
		max-width: 452px;
	}

	.card-container .title {
		font-size: 28px;
	}
}